<%- include('../partials/header') %>
<h1>College Fair</h1>

<p class="subtitle">
Click a college to add notes and mark your interest.
</p>

<div class="college-grid">
  <% topics.forEach(topic => { %>
  <a href="/student/topic/<%= topic._id %>">
    <div class="college-card">
      <% if (topic.iconPath) { %>npm
      <img src="<%= topic.iconPath %>" class="college-logo">
      <% } else { %>

      <div class="placeholder-logo">
        🎓
      </div>
      <% } %>

      <h3><%= topic.title %></h3>
    </div>
  </a>
  <% }) %>
</div>

<%- include('../partials/footer') %>