<%- include('../partials/header') %>

<h1>My Topic Testimonies</h1>

<p class="subtitle">
Here are your testimonies for each topic.
</p>

<% if (topics.length === 0) { %>
  <div class="card">
  You haven't added any testimonies yet.
  </div>

<% } else { %>
  <table class="table">
    <tr>
      <th>Topic</th>
      <th>Testimony</th>
    </tr>

    <% topics.forEach(v => { %>
    <tr>
      <td>
        <a href="/student/topic/<%= v.topic._id %>">
        <%= v.topic.title %>
        </a>
      </td>
      <td><%= v.notes || "No testimonies" %></td>
    </tr>
    <% }) %>
  </table>
<% } %>

<%- include('../partials/footer') %>