<%- include('../partials/header') %>

<div class="topic-detail">
  <h1><%= topic.title %></h1>
  <div class="rep-card">
    <h3>Organizers</h3>
    <p><strong>Email:</strong> <%= topic.organizerEmail || "N/A" %></p>
  </div>

  <form method="POST" class="testimony-form">
    <label>Your Testimony</label>
    <textarea name="testimony"><%= testimony ? testimony.notes : "" %></textarea>

    <label class="checkbox">
      <input
      type="checkbox"
      name="interested"
      <%= testimony && testimony.interested ? "checked" : "" %>
      > Interested in this
    </label>

    <button class="btn">Save Notes</button>
  </form>
</div>

<%- include('../partials/footer') %>